html{
    font-size: 1.5em;
    font-family: monospace;
}
body{
    display: grid;
    place-items: center;
    background-color: white;
    margin: 0;
}
.all{
    display: grid;
    place-items: center;
    width: min(90vw, 1200px);
}
.main{
    width: 100%;
}
.header-right{
    float: right;
}
.logo{
    float: left;
    height: 25%;
    width: 10vh;
}
#wobble path{

}
#home{
    padding-right: 4vw;
}
.active{
    color: blue !important;
    pointer-events: none;
}
header{
    position: fixed;
    width: inherit;
    height: 10vh;
    padding-top: 5vh;
}
.links{
    float: right;
}
.intro{
    padding-top: 25vh;
    padding-bottom: 25vh;
    width: 100%;
    margin: 0;
}
h1,h2,h3,h4,a{
    color: black;
    font-family: monospace;
}
h1{
}
h2{
    font-weight: 400;
}
h3{
}
h4{
    font-weight: 400;
}
.works{
    width: 100%;
}
.work{
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 10vh;
}
#work2{
    flex-direction: row-reverse;
    text-align: right;
}
.main{
    display: grid;
    place-items: center;
}
canvas{
    width: 100%;
    height: 100%;  
}
#can1{
    background-color: #2CCCC3;
}
#can2{
    background-color: #FACD3D;
}
#can3{
    background-color: #E60576;
}
.thumb{
    opacity: 50%;
    transition: .5s;
    box-shadow: 10px 10px 5px whitesmoke;
}
.thumb:hover{
    opacity: 100%;
    transform: scale(1.02);
    box-shadow: 30px 30px 10px whitesmoke;
}
.image{
    width: min(100%, 600px);
    height: min(90vw, 600px);
}
a{
    text-decoration: none;
    font-weight: 700;
}
a, a:visited{
    color: black;
}
.info{
    width: min(100%,400px);
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
}
.end{
    width: 100%;
    height: 10vh;
    margin-top: 10vh;
}

button {
    top: 25%;
    font-family: monospace;
    overflow: hidden;
    padding: 12px 12px;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;

    background-color: blue;
    color: #fff;
    border: 0 none;
    box-shadow: 5px 5px 5px whitesmoke;
  
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    display: flex;
    justify-content: center;
    border-radius: 36px;
} 
button:hover {
    transition: all 150ms linear;

    opacity: .85;
} 
button:active {
    transition: all 150ms linear;
    opacity: .75;
}
button:focus {
    outline: 0px;
    outline-offset: -4px;
}
button span{
    transition: all .2s;
    display: inline-block;
}
.email{
    text-align: center;
    position: absolute;
    transition: all .2s;
    top: -100%;
}
button:hover span{
    transform: translateY(300%);
}
button:hover .email{
    top: 12px;
}
.links{
    display: flex;
    width: 30%;

    justify-content: space-between;
}
i{
}
#drib:hover{
    color:#EA4C89;
}
#twit:hover{
    color:#08a0e9;
}
#inst:hover{
    color:#DD2A7B;
}
#yout:hover{
    color:#E62117;
}
#link:hover{
    color:#0077B5;
}