
body{
    display: grid;
    place-items: center;
    background-color: white;
    margin: 0;
}
.all{
    display: grid;
    place-items: center;
    width: min(90vw, 1000px);
}
.header-right{
    float: right;
}
.logo{
    float: left;
    height: 25%;
    width: 10vh;
}
.active{
    padding-right: 4vw;
}
header{
    position: fixed;
    width: inherit;
    height: 10vh;
    padding-top: 5vh;
}
.links{
    float: right;
}
.intro{
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: min(90vw, 1000px);
}
h1,h2,h3,h4,a{
    color: black;
    font-family: monospace;
}
h1{
}
h2{
    font-size: clamp(16px, 4vw, 24px);
    font-weight: 400;
}
h3{
    font-size: min(4vw, 24px);
}
h4{

}
.works{
    width: min(90vw, 1000px);
}
.work{
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 10vh;
}
#work2{
    flex-direction: row-reverse;
    text-align: right;
}
.main{
    display: grid;
    place-items: center;
}
canvas{
    width: inherit;
    height: 40vh;
    
}
#can1{
    background-color: #2CCCC3;
}
#can2{
    background-color: #FACD3D;
}
#can3{
    background-color: #E60576;
}
.thumb{
    opacity: 50%;
    transition: .5s;
    box-shadow: 10px 10px 5px whitesmoke;
}
.thumb:hover{
    opacity: 100%;
    transform: scale(1.02);
    box-shadow: 30px 30px 10px whitesmoke;
}
.image{
    width: min(100%,500px);
}
a{
    text-decoration: none;
    
    font-weight: 700;
}
a, a:visited{
    color: black;
}
.info{
    width: min(100%,400px);
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
}
.end{
    width: min(90vw, 1000px);
}