.banner{
    height: 70vh;
    margin-top: 10%;
    margin-bottom: 20%;
}
iframe{
    width: 100%;
    height: 50vh;
    z-index: 1 !important;
}
.banner img{
    width: 180%;
    z-index: -1;
    position: relative;
}
h1, h2, h3, h4, p, li, ul{
    text-shadow: none !important;
}
.all{

}
.main{
    width: 70%;
    position: relative;

}
header{
    z-index: 1;
}
img{
    width: 130%;
    margin-left: 50%;
transform: translateX(-50%);
}
.sec{
    margin-top: 25%;
}
.stats{

}
body{
   overflow-x: hidden;
}
html{
    max-width: 100%;
}